@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
    ViewBag.Title = "Nuestra Empresa brinda transporte seguro";
    <link rel="canonical" href="http://www.onevipt.com/Empresa" />
    <link rel="alternate" hreflang="en-us" href="http://www.onevipt.com/Empresa" />
      <!-- SEARCH -->
    <meta name="author" content="Corporación One Vip">
    <meta name="description" content="Corporación One Vip Brinda servicio de transporte turístico terrestre de calidad cumpliendo los protocolos de seguridad.">

    <!-- TWITTER -->
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="http://www.onevipt.com/Empresa">
    <meta name="twitter:creator" content="Corporación One Vip">
    <meta name="twitter:title" content="Nuestra Empresa brinda transporte seguro">
    <meta name="twitter:description" content="Corporación One Vip Brinda servicio de transporte turístico terrestre de calidad cumpliendo los protocolos de seguridad.">
    <meta name="twitter:image:src" content="http://www.onevipt.com/Content/img/vision.jpg">
    <!-- FACEBOOK -->
    <meta property="og:site_name" content="Corporación One Vip">
    <meta property="og:url" content="http://www.onevipt.com/Empresa">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Nuestra Empresa brinda transporte seguro">
    <meta property="og:description" content="Corporación One Vip Brinda servicio de transporte turístico terrestre de calidad cumpliendo los protocolos de seguridad.">
    <meta property="og:image" content="http://www.onevipt.com/Content/img/vision.jpg">
    <!-- G+ -->
    <meta itemprop="name" content="Nuestra Empresa brinda transporte seguro">
    <meta itemprop="description" content="Corporación One Vip Brinda servicio de transporte turístico terrestre de calidad cumpliendo los protocolos de seguridad.">
    <meta itemprop="image" content="http://www.onevipt.com/Content/img/vision.jpg">
 
}


<div class="vidbg-box position-relative min-height-550 w-100 p-top "   
     data-vidbg-bg="mp4: /Content/media/intro.mp4, webm: /Content/media/intro.webm, poster: /Content/media/poster.jpg"
     data-vidbg-options="loop: true, muted: true, loop: true">
    <div class="container position-relative space-3 space-top-md-4 space-lg-3 z-index-2">
        <!-- Title -->
        <div class="text-center mb-7 animated   FadeIn delay-2s">
            <div class="w-lg-80 mx-auto">
                <h1 class="display-4 font-size-md-down-5 color-onevip mb-3 text-uppercase font-weight-bold">  
                    Nuestra Empresa  
                </h1>
                <h2>
                    <span class="text-uppercase color-onevip">Corporación One Vip</span>   
                </h2>
            </div>
            <div class="w-md-80 w-lg-60 mx-auto">
                <p class="lead text-white-70">
                    El Perú tiene lugares hermosos y muy pintorescos. Son el punto de encuentro de Latinoamérica con diferentes orígenes, idiomas, historias, culturas, gastronomia y formas de ver la vida.<br />

                    <B>Corporación One Vip</B>  permite interactuar con la ciudad y entre nosotros con la mayor comodidad, puntualidad y seguridad hacia nuestros clientes, en estás epoca de pandemia <b>nuestra empresa brinda transporte seguro</b> cumpliendo con los protocolos emitidos por el gobierno.
                    
                </p>
               
</div>
        </div>
        <div class="position-absolute right-0 bottom-0 left-0 text-center mb-7 ">
            <a class="js-go-to u-go-to-modern  text-brown wow bounce animated" data-wow-delay="300ms" data-wow-iteration="infinite" data-wow-duration="2s" href="javascript:;" data-target="#ContentCompany" data-compensation="#header" data-type="static" style="display: inline-block;">
                <span class="fas fa-arrow-down u-go-to-modern__inner"></span>
            </a>
        </div>
        <!-- End Title -->

    </div>
</div>

<div id="ContentCompany">


</div>

<div class="w-100 " style="overflow:hidden; height:100%">

    <div class="container space-top-2 space-top-md-3 wow fadeInLeft  animated animated" data-wow-duration="2s" data-wow-delay="1s">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">

            <h2 class="text-brown"><strong class="font-weight-semi-bold ">MISIÓN</strong> </h2>
            <p>Brindar un servicio de transporte turístico terrestre de calidad y con responsabilidad, cubriendo la mayor cantidad de destinos y rutas dentro del Perú, ofreciendo un servicio tanto en Seguridad, Comodidad y Eficiencia para así garantizar la satisfacción total de las necesidades y sobre pasarlas expectativas de nuestros clientes.</p>
        </div>
        <!-- End Title -->
        <div class="row justify-content-sm-center">
            <div class="col-lg-9 col-xl-8">

                <img alt="Misión" title="Misión" class="img-fluid" src="~/Content/img/mision.jpg" />
            </div>
        </div>
    </div>
    <div class="container space-top-2 space-top-md-2 wow fadeInRight  animated animated" data-wow-duration="2s" data-wow-delay="1s">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">

            <h2 class="text-brown"><strong class="font-weight-semi-bold">VISIÓN</strong> </h2>
            <p>Mantenernos como empresa líder en el mercado de transporte turístico peruano mejorando día a día e innovando en nuestras unidades, para así posesionarnos en la mente de los consumidores y crecer verticalmente para mejorar y diversificar los servicios de la empresa.</p>
        </div>
        <!-- End Title -->

        <div class="row justify-content-sm-center">
            <div class="col-lg-9 col-xl-8">

                <img alt="Visión" title="Visión"  class="img-fluid" src="~/Content/img/vision.jpg" />
            </div>
        </div>
    </div>

    <div class="container space-top-2 space-top-md-2 wow fadeInLeft  animated " data-wow-duration="2s" data-wow-delay="1s">
        <!-- Title -->
        <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">

            <h2 class="text-brown"><strong class="font-weight-semi-bold">EQUIPO DE TRABAJO</strong> </h2>
            <p>
                Nuestra empresa cuenta con un excelente equipo de trabajo, el cual está capacitado para darle la mejor atención y dispuesto a atenderlo y satisfacer todas sus necesidades, contando con un moderno sistema que permite el ingreso de pedidos y reservas.

            </p>
        </div>
        <!-- End Title -->
        <div class="row justify-content-sm-center">
            <div class="col-lg-9 col-xl-8">

                <img   alt="Equipo de corporación OneVip" title="Equipo de corporación OneVip" class="img-fluid" src="~/Content/img/team.jpg" />
            </div>
        </div>
    </div>



    <div class="container">


        <div class="row">
            <!-- Team Section -->
            <div class="container space-2 space-md-2">
                <!-- Title -->
                <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
                    <!--
                     <h2 class="text-brown">Nuestro <span class="font-weight-semi-bold">Equipo de profesionales</span></h2>
                        -->
                    <p>
                        Corporación One Vip fue fundado por un grupo de profesionales con muchas años de experiencia, aplicando la necesidad del cliente én nuestra capital.
                    </p>
                </div>
                <!-- End Title -->
                <!-- Slick Carousel -->
                <div class="js-slick-carousel u-slick u-slick--gutters-3"
                     data-slides-show="4"
                     data-slides-scroll="1"
                     data-autoplay="true"
                     data-speed="5000"
                     data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
                     data-responsive='[{
             "breakpoint": 992,
             "settings": {
               "slidesToShow": 1
             }
           }, {
             "breakpoint": 768,
             "settings": {
               "slidesToShow": 1
             }
           }, {
             "breakpoint": 554,
             "settings": {
               "slidesToShow": 1
             }
           }]'>
             
                    <div class="js-slide px-3">
                        <!-- Team -->
                        <div class="row">

                            <div class="col-sm-12">

                                <img class="img-fluid rounded mx-auto" src="~/Content/img/team/conductores-onevip-1.jpg" alt="Equipo Humano, Corporación OneVip">
                            </div>
                        </div>
                        <!-- End Team -->
                    </div>

                    <div class="js-slide px-3">
                        <!-- Team -->
                        <div class="row">

                            <div class="col-sm-12">

                                <img class="img-fluid rounded mx-auto" src="~/Content/img/team/conductores-onevip-2.jpg" alt="Conductores, Corporación OneVip">
                            </div>
                        </div>
                        <!-- End Team -->
                    </div>

                    <div class="js-slide px-3">
                        <!-- Team -->
                        <div class="row">

                            <div class="col-sm-12">

                                <img class="img-fluid rounded mx-auto" src="~/Content/img/team/conductores-onevip-3.jpg" alt="Profesionales, Corporación OneVip">
                            </div>
                        </div>
                        <!-- End Team -->
                    </div>



                </div>
                <!-- End Slick Carousel -->
            </div>
            <!-- End Team Section -->



        </div>
    </div>

    </div>
    @section scripts {

        <script src="~/Content/video/vidbg.js"></script>

    }
